@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Open+Sans:wght@300&display=swap');

$primary-font: 'Archivo', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//colors
$white: #ffffff;